.custom-button {
	-fx-font: 16px "Serif";
	-fx-padding: 10;
	-fx-background-color: #CCFF99; 
}
.backgroud {
	-fx-background-color: white;
}
#taust{
	-fx-background-color: white;
}

#avaNupp {
    -fx-background-color: 
        linear-gradient(#ffd65b, #e68400),
        linear-gradient(#ffef84, #f2ba44),
        linear-gradient(#ffea6a, #efaa22),
        linear-gradient(#ffe657 0%, #f8c202 50%, #eea10b 100%),
        linear-gradient(from 0% 0% to 15% 50%, rgba(255,255,255,0.9), rgba(255,255,255,0));
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,2,3,0;
    -fx-text-fill: #654b00;
    -fx-font-weight: bold;
    -fx-font-size: 20px;
    -fx-padding: 20 30 20 30;
}
#avaTekst {
	-fx-text-fill: #654b00;
	-fx-font-weight: bold;
	-fx-font-size: 60px;
	-fx-font-family: "Calibri";
	-fx-stroke: #e68400;

	
}
#tagasi {
	-fx-background-color: 
        #c3c4c4,
        linear-gradient(#d6d6d6 50%, white 100%),
        radial-gradient(center 50% -40%, radius 200%, #e6e6e6 45%, rgba(230,230,230,0) 50%);
    -fx-background-radius: 40;
    -fx-background-insets: 0,1,1;
    -fx-text-fill: black;
    -fx-font-size: 12;
    -fx-font-family:"Calibri";
    -fx-font-weight:bold;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );
}
