.custom-button {
	-fx-font: 16px "Serif";
	-fx-padding: 10;
	-fx-background-color: #CCFF99; 
}
.backgroud {
	-fx-background-color: white;
}


#avaNupp {
    -fx-background-color: 
        linear-gradient(#ffd65b, #e68400),
        linear-gradient(#ffef84, #f2ba44),
        linear-gradient(#ffea6a, #efaa22),
        linear-gradient(#ffe657 0%, #f8c202 50%, #eea10b 100%),
        linear-gradient(from 0% 0% to 15% 50%, rgba(255,255,255,0.9), rgba(255,255,255,0));
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,2,3,0;
    -fx-text-fill: #654b00;
    -fx-font-weight: bold;
    -fx-font-size: 20px;
    -fx-padding: 20 30 20 30;
}
#avaTekst {
	-fx-text-fill: #654b00;
	-fx-font-weight: bold;
	-fx-font-size: 60px;
	-fx-font-family: "Calibri";
	-fx-stroke: #e68400;

	
}
#tagasi {
	-fx-background-color: 
        #c3c4c4,
        linear-gradient(#d6d6d6 50%, white 100%),
        radial-gradient(center 50% -40%, radius 200%, #e6e6e6 45%, rgba(230,230,230,0) 50%);
    -fx-background-radius: 40;
    -fx-background-insets: 0,1,1;
    -fx-text-fill: black;
    -fx-font-size: 12;
    -fx-font-family:"Calibri";
    -fx-font-weight:bold;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );
}
#yles {
	-fx-padding: 15, 12, 15, 12;
	-fx-spacing: 10;
	-fx-background-color: #CCFFCC;
}
#informatsioonTekst {
	-fx-font-size: 20px;
	-fx-font-family:"Calibri";
	-fx-stroke: #e68400;
}
#keskmine{
	-fx-padding:15, 0, 0, 0;
	-fx-background-color: linear-gradient(#CCFFCC 50%, white 100%);
	
}
#alumine{
	-fx-padding:15, 0, 15, 0;
	-fx-background-color: white;
}
#uusLevel{
	-fx-padding: 8 15 15 15;
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%),
        #9d4024,
        #d86e3a,
        radial-gradient(center 50% 50%, radius 100%, #d86e3a, #c54e2c);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
    -fx-font-weight: bold;
    -fx-font-size: 1.1em;
}
#taust {
	-fx-background-color: linear-gradient(#CCFFCC 50%, white 100%);
	-fx-padding: 10, 10, 10, 10;
}